/*------------------------------------*\
  #BASE-STYLES
\*------------------------------------*/

:root {
  --color-header-primary: #fff;
  --color-header-emphasis: #4adf86;
  --color-header-secondary: #d5d4d8;
  --color-button: #10b981;
  --color-text-primary: #55f991;
  --color-bg: #1c1c1c;
  --color-bg-container: #1f2937;
  --color-bg-pw-container: #273549;
  --color-horizontal-rule: #2f3e53;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* equivalent to 10px*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg-container);
  padding: 6rem 3.9rem 6.3rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

main {
  max-width: 550px;
  margin: 0 auto;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

h1 {
  margin: 0 0 1rem 0;
  font-family: "Karla", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: var(--color-header-primary);
  line-height: 1;
  letter-spacing: -2.5%;
}

.text-emphasis {
  color: var(--color-header-emphasis);
}

header p {
  margin-bottom: 4.5rem;
  color: var(--color-header-secondary);
  font-weight: 400;
}

/*------------------------------------*\
  #BUTTON
\*------------------------------------*/

button {
  display: block;
  width: 223px;
  height: 42px;
  margin: 0 auto;
  padding: 9px 17px 9px 15px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  background-color: var(--color-button);
  color: var(--color-header-primary);
  line-height: 1.5;
  cursor: pointer;
}

.btn-icon {
  width: 20px;
  height: 20px;
  margin-right: 1.2rem;
  vertical-align: middle;
}

/*------------------------------------*\
  #HORIZONTAL-RULE
\*------------------------------------*/

hr {
  margin: 3.5rem 0 2.7rem;
  border: 0;
  height: 0.1rem;
  background: var(--color-horizontal-rule);
}

/*------------------------------------*\
  #PASSWORD-LIST
\*------------------------------------*/

.pw-container {
  padding: 0;
  margin-bottom: 6rem;
}

.pw-container * + * {
  margin-top: 2.7rem;
}

.pw-container li {
  width: 297px;
  height: 39px;
  border-radius: 6px;
  background: var(--color-bg-pw-container);
  list-style: none;
}

.pw {
  padding: 1.7rem 0;
}

.pw-container-icon {
  display: block;
  width: 20px;
  margin: 0 auto;
}
